fastapi
uvicorn[standard]
supabase
openai
python-dotenv
pydantic
python-jose[cryptography]
passlib[bcrypt]
pgvector
psycopg2-binary
httpx
sqlalchemy
asyncpg
greenlet
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
